<div id="model">
<div id="model-content">
    <h2 id="model_title"><%= modelTitle%></h2>
        <p id="model_text">
            <%= modelMsg%>
        </p>
    <button id="model_btn" onclick="modelClose()">close</button>
</div>
</div>
