<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="shortcut icon" href="/images/hands-and-plant-icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css"
    />
    <script
      src="https://kit.fontawesome.com/ef0ec2ef31.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
      integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>