<section id="sign-up-in_section" class="cell-3">
  <div class="sign-up-in">
    <input type="checkbox" id="chk" aria-hidden="true" />
    <div class="sign-up">
      <form id="register_form" action="/register" method="POSt">
        <label for="chk" aria-hidden="true">Sign up</label>
        <div class="form-group">
          <input
            id="fname-input"
            type="text"
            name="userFirstName"
            placeholder="First Name"
            title="please enter your first name"
            minlength="2"
            maxlength="20"
            pattern="[a-zA-Z_ -ßöäüÖÄÜæé\s]{2,20}"
            required=""
            oninvalid="setCustomValidity('Numbers,special characters and empty are not allowed')"
            oninput="setCustomValidity('')"
          />
        </div>
        <div class="form-group">
          <input
            id="lname-input"
            type="text"
            name="userLastName"
            placeholder="Last Name"
            title="please enter your last name"
            minlength="2"
            maxlength="20"
            pattern="[a-zA-Z_ -ßöäüÖÄÜæé\s]{2,20}"
            required=""
            oninvalid="setCustomValidity('Numbers,special characters and empty are not allowed')"
            oninput="setCustomValidity('')"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="userName"
            placeholder="User name"
            title="please enter a name to use it as username"
            minlength="2"
            maxlength="20"
            pattern="[a-zA-Z0-9_-]{2,20}"
            required=""
            oninvalid="setCustomValidity('special characters and empty spaces are not allowed')"
            oninput="setCustomValidity('')"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            name="email"
            placeholder="Email"
            title="please enter your email"
            autocomplete
            required=""
            oninput="setCustomValidity('')"
          />
        </div>
        <div class="form-group">
          <input
          id="password-input"
            type="password"
            name="password"
            placeholder="Password"
            title="Password should be combination of one uppercase , one lower case, one special char, one digit and min 8 , max 20 char long"
            minlength="8"
            maxlength="20"
            required=""
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$.!%*#?&]).{8,20}"
            oninvalid="setCustomValidity('Password should be combination of one uppercase , one lower case, one special char, one digit and min 8 , max 20 char long')"
            oninput="setCustomValidity('')"
            autocomplete
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            name="rePassword"
            placeholder="re-Password"
            title="Please rewrite you password here again"
            data-pristine-equals="#password-input"
            required=""
            oninput="check(this)"
            autocomplete
          />
        </div>
        <button id="signUp-btn">Sign up</button>
      </form>
    </div>
    <div class="login">
      <form id="login-form" action="/login" method="POST">
        <label for="chk" aria-hidden="true">Login</label>
        <input
          type="text"
          name="userName"
          placeholder="user name"
          required=""
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required=""
          autocomplete
        />
        <button id="signIn-btn">Login</button>
      </form>
      <div style="text-align: center; width: 100%;">
        <a href="/forgotPassword" style="color: red; font-weight: bold; ">Forgot password?</a>
      </div>
    </div>
  </div>
</section>
