<section id="sign-up-in_section" class="cell-3">
                <div class="sign-up-in">
                    <input type="checkbox" id="chk" aria-hidden="true">
                    <div class="sign-up">
                        <form id="register-form" action="/register" method="POST">
                            <label for="chk" aria-hidden="true">Sign up</label>
                            <input id="fname-input" type="text" name="userFirstName" placeholder="First Name"
                                title="please enter your first name" required="">
                            <input id="lname-input" type="text" name="userLastName" placeholder="Last Name"
                                title="please enter your last name" required="">
                            <input type="text" name="userName" placeholder="User name"
                                title="please enter a name to use it as username" required="">
                            <input type="email" name="email" placeholder="Email" title="please enter you email email"
                                autocomplete required="">
                            <input type="password" name="password" placeholder="Password"
                                title="please enter a password" required="">
                            <input type="password" name="rePassword" placeholder="re-Password"
                                title="Please rewrite you password here again" required="">
                            <button id="signUp-btn">Sign up</button>
                        </form>
                    </div>
                    <div class="login">
                        <form id="login-form" action="/login" method="POST">
                            <label for="chk" aria-hidden="true">Login</label>
                            <input type="text" name="userName" placeholder="user name" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <button id="signIn-btn">Login</button>
                        </form>
                    </div>
                </div>
            </section>