<%- include ('partials/head',{title: 'Gad Eden | Admin-Dash'})%>

<body id="body">
    <!-- header -->
    <header id="header">
        <%- include ('partials/nav1',{page:'dashboard',type:'user'})%>
    </header>
    <!--main-->
    <main id="main">
        <h1>Hello user</h1>
        <!-- content -->
        <div class="content">
            <section class="cell-5">
                <h2><i class="fa fa-edit" style="font-size:20px;color:red"></i>Register your device!</h2>
                <div style="height: 80px;">
                    <h4>
                        your device has special serial number, you need to register it by entering this number here and
                        then you can also add information about how you like to ue it, by giving name and values to its
                        functionality.
                    </h4>
                </div>
                <button class="admin_btn" onclick="routeToAddDevice()">Register device</button>
            </section>
            <section class="cell-6">
                <h2><i class="fa fa-bar-chart" style="font-size:20px;color:red"></i></i>Live Chart!</h2>
                <div style="height: 80px;">
                    <h4>
                        Here you can watch live chart of the environment of your plants, like temperature and humidity
                        present situation. these values are updated every 10 seconds.
                    </h4>
                </div>
                <button class="admin_btn">Live Chart</button>
            </section>
            <section class="cell-7">
                <h2><i class="fa fa-pie-chart" style="font-size:20px;color:red"></i>Dated Chart!</h2>
                <div style="height: 80px;">
                    <h4>
                        Here you can watch Dated chart of the environment of your plants, like temperature and humidity
                        present situation. these values are updated according to specific chosen date and get updated
                        each 1 hour.
                    </h4>
                </div>
                <button class="admin_btn">Dated Chart</button>
            </section>
            <section class="cell-8">
                <h2><i class='fa fa-gear fa-spin' style="font-size:20px;color:red;"></i>controls!</h2>
                <div>
                    <h4 style="height: 80px;">
                        Here you can add specific values which you want to add to your device to control your plant
                        environment according to it, and you can switch off and on the fan or water pump.
                    </h4>
                </div>
                <button class="admin_btn">controls</button>
            </section>
        </div>
    </main>
    <!-- footer -->
    <%- include ('partials/footer')%>
    <!-- <script src="/js/pristine/dist/pristine.min.js"></script> -->
    <script src="/js/publicScript.js"></script>
    <script>
        function routeToAddDevice() {
            window.location.href = "/user/add-device";
        }
    </script>
</body>

</html>